.RectangleTitle>.underline
{
	border-bottom: 4px solid var(--Yellow-color);
}

.flexContainer .flexContainer
{
	flex-direction: row;
}

.flexContainer>.flexContainer>.content>.flexContainer
{
	flex-direction: column;
}

.rightSide>.content>.RectangleTitle>.underline
{
	align-self: flex-end;
	padding: 0 100px 0 0 ;
}

.flexContainer
{
  display: flex;
	flex-direction: column;
}
.Content
{
	width: 80vw;
	//flex-basis: 70vw !important;
	text-align: justify;
}

.rightSide
{
	//margin: 0 0 0 20vw;
	align-self: flex-end;
	border-radius: 25px 0 0 25px;
}
.rightSide>img
{
	order: 1000;
}
.leftSide
{
	align-self: flex-start;
	//margin: 0 20vw 0 0;
	border-radius: 0 25px 25px 0;
}

.RectangleTextContent
{
	padding: 0 15px 0 15px;
}

#WelcomeSlide>.flexContainer
{
	flex-direction: column !important;
	flex-wrap: wrap;
}

.Content>img
{
	width: 400px;
	height: 400px;	
}

div
{
	//border: 1px solid red;
}
