:root
{

}

body, html
{

}

html
{
  font-family: 'Lato', sans-serif;
}

a
{
  text-decoration: none;
  color: inherit;
}

#StickyMenu
{

}

#logo
{

}

#HamburgerMenu
{

}

.MenuBg
{
  display: none;
}

.TitleText
{

}
