#HeartLineArt
{
  display: none;
}

.MainTitle
{
  color: var(--main-hicontrast-text-color);
  font-size: 40pt;
  padding: 0 0 5px 0;
}

#Background
{
  width: 100%;
  height: 100vh;
}

#WelcomeSlide
{
  height: 100vh;
}

#YtSlide>.flexContainer
{
  justify-content: space-evenly;
}

.ytVideo
{
  border-radius: 25px;
}

.textContainer
{
  text-align: justify;
  //background-color: var(--Red-color);
  border-radius: 25px;
  flex-basis: 30%;
  font-size: 20pt;
  color: var(--main-hicontrast-text-color);
  padding: 20px 20px 20px 20px;
  //max-height: 630px;
}

#WelcomeSlide>.Content
{
  text-align: justify;
  font-size: 20pt;
  font-weight: 700;
  position: relative;
  top: -60vh;
  margin: 0 40% 0 10%;
  color: var(--main-hicontrast-text-color);
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#InfoSlide >.flexContainer
{
  justify-content: evenly-space;
}
.InfoRectangle>.Content
{
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  font-size: 20pt;
  color: #ffffff;
}
.InfoRectangle>.Content>img
{
  width: 333px;
}

.RectangleTitle
{
  font-size: 24pt;
  font-weight: 700;
  padding: 0 0 10px 0;
}
.InfoRectangle>.Content>.RectangleTitle
{
  text-align: center;
}

#NewsSlide > .Content
{
  text-align: justify;
  color: #ffffff;
  border-radius: 25px;
  max-width: 40%;
  margin: 25px 30% 0 30%;
}
#NewsSlide>.Content>.content
{
  padding: 10px;
}
#NewsSlide>.Content>img
{
  width: 100%;
  border-radius: 25px 25px 0 0;
}
#NewsSlide>.Content>.RectangleTitle>.underline
{
  border-bottom: 4px solid var(--Yellow-color);
}

#EpidemyArticleSlide>.flexContainer
{
  margin: 40px 0 0 0;
  align-content: space-between;
  align-items: flex-start;
}
.RectangularSideBar
{
  background-color: var(--Red-color);
  padding: 10px;
  width: 30%;
  flex-basis: 30%;
  margin: 0 0px 0px 0px;
  color: var(--main-hicontrast-text-color);
  font-size: 24pt;
  border-radius: 20px 0 0 20px;
  float: right;
}
.EpidemyTextContent
{
  float: right;
  display: block;
  text-align: justify;
  margin: 0;
  padding: 0 25px 0 25px;
  font-size: 18pt;
}
.RectangleTextContent
{
  font-size: 16pt;
}

/*///SVGS///*/

.fil0
{
  fill: white;
}

.iconSatisfaction
{
  fill: white;
}

@media only screen and (max-width:900px)
{
  #HeartLineArt
  {
    display: block;
    width: 250%;
    margin: 0% 0 0 -103%;
  }
  #WelcomeSlide>.Content
  {
    text-align: justify;
    font-size: 16pt;
    font-weight: 700;
    position: relative;
    top: -92vh;
    margin: 0% 5% 0 20%;
    color: var(--main-hicontrast-text-color);
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .textContainer
  {
    text-align: justify;
    //background-color: var(--Red-color);
    border-radius: 25px;
    font-size: 20pt;
    color: var(--main-hicontrast-text-color);
    padding: 20px 20px 20px 20px;
  }

  .ytVideo
  {
    margin: 25px auto 0 auto;
    width: 75%;
    height: 75%;

  }

  .MainTitle
  {
    font-size: 20pt;
    margin: -5% 0 0 -20%;
  }
  .fil0
  {
    fill: white;
  }

  .InfoRectangle>.Content
  {
    font-size: 12pt;
  }
  .RectangularSideBar
  {
    background-color: var(--Red-color);
    padding: 10px;
    margin: 25px 25px 50px 25px;
    color: var(--main-hicontrast-text-color);
    font-size: 20pt;
    border-radius: 20px 20px 20px 20px;
    flex-basis: auto;
    width: auto;
    text-align: justify;
  }
  .textContainer
  {
    text-align: justify;
    //background-color: var(--Red-color);
    border-radius: 25px;
    font-size: 16pt;
    color: var(--main-hicontrast-text-color);
    padding: 10px;
    margin: 0 25px 10px 25px;
  }
  .InfoRectangle>.Content>img
  {
    width: 200px;
  }

  #NewsSlide > .Content
  {
    text-align: justify;
    color: #ffffff;
    border-radius: 25px;
    max-width: none;
    margin: 10px 25px 10px 25px;
  }
  #NewsSlide>.Content>.RectangleTitle
  {
    font-size: 18pt;
    margin: 10px 0 0 0;
  }
}
