#HeartLineArt
{
  display: none;
}

.MainTitle
{
  color: var(--main-hicontrast-text-color);
  font-size: 40pt;
  padding: 0 0 5px 0;
}

#Background
{
  width: 100%;
  height: 100vh;
}

#WelcomeSlide
{
  height: 100vh;
}

#YtSlide>.flexContainer
{
  justify-content: space-evenly;
}

.ytVideo
{
  border-radius: 25px;
}

.textContainer
{
  background-color: var(--Red-color);
  border-radius: 25px;
  flex-basis: 30%;
  font-size: 20pt;
  color: var(--main-hicontrast-text-color);
  padding: 20px 20px 20px 20px;
  max-height: 630px;
}

#WelcomeSlide>.Content
{
  font-size: 20pt;
  font-weight: 700;
  position: relative;
  top: -60vh;
  margin: 0 40% 0 10%;
  color: var(--main-hicontrast-text-color);
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#Red
{
  background-color: var(--Red-color);
}

#Blue
{
  background-color: var(--Blue-color);
}
#Yellow
{
  background-color: var(--Yellow-color);
}
#Green
{
  background-color: var(--Green-color);
}
@media only screen and (max-width:640px)
{
  #HeartLineArt
  {
    display: block;
  }
}
