#HeartLineArt
{
  display: none;
}

.MainTitle
{
  color: var(--main-hicontrast-text-color);
  font-size: 40pt;
  padding: 0 0 5px 0;
}

#Background
{
  width: 100%;
  height: 100vh;
}

#Slide1>.Content
{
  font-size: 20pt;
  font-weight: 700;
  position: relative;
  top: -60vh;
  margin: 0 40% 0 10%;
  color: var(--main-hicontrast-text-color);
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }


@media only screen and (max-width:640px)
{
  #HeartLineArt
  {
    display: block;
  }
}
